@use "../scss/abstracts" as *;

.scroll-to-top {
  position: fixed;
  bottom: 1.5rem;
  right: 1rem;
  z-index: 999;
  background-color: pink;
  color: black;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  height: 3.75rem;
  font-size: 2rem;

  &:hover {
    background-color: blue;
  }
}
