@use "../abstracts/" as *;

@font-face {
  font-family: "Fraunces";
  font-weight: 0 900;
  src: url("/assets/fonts/Fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
}

@font-face {
  font-family: "Barlow";
  src: url("/assets/fonts/Barlow/Barlow-Regular.ttf");
}

@font-face {
  font-family: "Barlow-bold";
  src: url("/assets/fonts/Barlow/Barlow-Bold.ttf");
}

body {
  font: 400 1rem / 1.625rem "Barlow", sans-serif;
  color: $clr-grey-900;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-family: "Fraunces";
  font-weight: 900;
}

:where(a) {
  color: inherit;
  text-decoration: none;
}
