@use "../abstracts/" as *;

@font-face {
  font-family: "Montserrat";
  font-weight: 0 900;
  src: url("/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

body {
  font: 400 1rem / 1.625rem "Montserrat", sans-serif;
  color: $clr-neutral-200;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-weight: 900;
  color: $clr-neutral-100;
}

:where(a) {
  color: inherit;
  text-decoration: none;
}

.header__link {
  font-weight: 900;
  font-size: 1.25em;
}

.nav {
  font-size: 1.2rem;
  text-align: center;
}

.nav__link {
  white-space: nowrap;
  font-weight: 600;
}
