@use "sass:math";
@use "sass:list";
@use "sass:map";
@use "functions" as *;
@use "variables" as *;

@mixin animation {
  $name: animation-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
}

@mixin pseudo(
  $where: after,
  $content: "",
  $position: absolute,
  $inset: 0,
  $parent: true
) {
  @if ($parent == true) {
    position: relative;
  }

  &::#{$where} {
    content: $content;
    position: $position;
    inset: $inset;
    @content;
  }
}

@mixin hoverfocus() {
  &:hover,
  &:focus-visible {
    @content;
  }
}

@mixin border($width, $color, $style: solid, $where: "") {
  $hyphen: "";
  @if $where != "" {
    $hyphen: "-";
  }
  border#{$hyphen}#{$where}: $width $style $color;
}

@mixin test-border($c: red) {
  outline: 2px solid $c;
}

@mixin max-width-content($add: 0) {
  width: 100%;
  max-width: px2rem($max-width-content) + $add;
  margin-inline: auto;
}

@mixin padding-inline($add: 0) {
  padding-inline: $padding-inline-content;
}
