@use "../../scss/abstracts/" as *;

.header {
  @include padding-inline;
}

.nav {
  @include max-width-content;

  display: grid;
  gap: 1rem;
  padding-block: 1.25rem;

  @include mq($bp-mobile-xl) {
    display: flex;
    gap: 2rem;
  }

  &__left-wrapper {
    display: flex;
    gap: 0.75rem;
  }

  &__hamburger-btn {
    width: 2.75rem;
    aspect-ratio: 1/1;
    // background-color: transparent;
  }

  &__list {
    display: flex;
    margin-left: auto;
  }

  &__item {
    list-style-type: none;
    padding-left: 1.25rem;

    &:not(:last-child) {
      padding-right: 1.25rem;
      border-right: 0.25rem solid $clr-primary-2;
    }
  }
}
