@use "../../scss/abstracts/" as *;

.header {
  @include max-width-content;
  @include padding-inline;

  display: flex;
  gap: 2rem;
  padding-block: 1.25rem;

  &__outer-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 5rem;
  }

  &__inner-wrapper {
    display: flex;
    gap: 1rem;
  }
}

.hamburger-btn {
  display: none;

  @include mq($until: $bp-tablet) {
    position: fixed;
    z-index: 100;
    inset: 1rem 1rem auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 2.75rem;
    aspect-ratio: 1/1;
    padding: 6px;
    background-color: $clr-contrast-dark;
    border-radius: 5px;
    border: 0.15em solid white;
  }

  &__bar {
    $bar-height: 3px;
    width: 100%;
    height: $bar-height;
    background-color: white;
    transition: background-color 0.5s ease-in-out 0.5s;

    @include pseudo($where: after) {
      transform: translateY(9px);
    }

    @include pseudo($where: before) {
      transform: translateY(-9px);
    }

    &::after,
    &::before {
      height: $bar-height;
      background-color: white;
      transition: transform 0.5s ease-in-out 0.2s;
    }

    // opened state
    [aria-expanded="true"] & {
      background-color: transparent;
      transition: background-color 0.5s ease-in-out;

      &::after,
      &::before {
        transition: transform 0.5s ease-in-out 0.2s;
      }

      &::after {
        transform: rotate(45deg);
      }

      &::before {
        transform: rotate(-45deg);
      }
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  margin-left: auto;

  @include mq($until: $bp-tablet) {
    position: fixed;
    inset: 0 0 0 20%;
    display: grid;
    align-items: flex-start;
    gap: 2rem;
    padding-top: 5rem;
    background-color: rgba(black, 0.5);
    backdrop-filter: blur(0.8rem);
    transform: translateX(150%);
    transition: transform 0.5s ease-out;

    [aria-expanded="true"] + & {
      // open hamburger menu state
      transform: translateX(0);
      transition: transform 0.5s ease-in;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;

    @include mq($until: $bp-tablet) {
      flex-direction: column;
      padding-inline: 15%;
    }
  }

  &__item {
    padding-left: 1.25rem;

    @include mq($until: $bp-tablet) {
      width: 100%;
      padding: 1.75rem;
    }

    &:not(:last-child) {
      padding-right: 1.25rem;
      border-right: 0.25em solid $clr-primary-2;

      @include mq($until: $bp-tablet) {
        border-right: none;
        border-bottom: 0.15em solid $clr-primary-2;
      }
    }
  }
}
