@use "../../scss/abstracts/" as *;

.nav {
  @include max-width-content;

  display: grid;
  gap: 1rem;
  padding-block: 1.25rem;

  &.scrolled {
    // state for when the site is scrolled
    background-color: $clr-contrast-light;
  }

  @include mq($bp-mobile-xl) {
    display: flex;
    gap: 2rem;
  }

  &__outer-wrapper {
    @include padding-inline;
  }

  &__left-wrapper {
    display: flex;
    gap: 0.75rem;
  }

  &__list {
    display: flex;
    margin-left: auto;
  }

  &__item {
    list-style-type: none;
    padding-left: 1.25rem;

    &:not(:last-child) {
      padding-right: 1.25rem;
      border-right: 0.25rem solid $clr-primary-2;
    }
  }
}
